<table style="width: 100%; padding: 10px 35px; background-color: #0c9fc7; color: #fff; box-sizing: border-box">
    <tr>
        <td style="font-size: 14px; text-align: center;">
            MyCorp - Copyright © 2024
        </td>
    </tr>
</table>
